{% extends "./basic/base.html.twig" %}

{% block content %}
    <div class="content">
        <div class="home">
            <div class="home__section home__section--right transition-all-2000" id="section-0">
                <div class="container">
                    <h2>Wiecej niż wybór</h2>
                    <h1>Wiecej niż bielizna</h1>
                    <div class="home__btn">
                        <a class="btn btn--border transition-all-500" href="#section-1">Poznaj świat Choice</a>
                    </div>
                </div>
            </div>
            <div class="home__section home__section--left transition-all-2000" id="section-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1>Tkanina</h1>
                            <h4>Tkanina jest dokładnie tym, czego potrzebuje Twoja skóra,
                                a to wszystko dzięki zaawansowanej technologii produkcji
                                oraz starannej selekcji bawełny.</h4>
                        </div>
                        <div class="col-sm-6 col-xs-12"></div>
                    </div>
                    <div class="home__btn">
                        <a class="btn btn--border transition-all-500" href="#section-2">Przejdź dalej</a>
                    </div>
                </div>
            </div>
            <div class="home__section home__section--right transition-all-2000" id="section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 col-sm-push-6">
                            <h1>Guma</h1>
                            <h4>Żakardowa. Została stworzona na potrzeby marki CHOICE zgodnie
                                z naszymi wytycznymi. Jej szerokość to 50mm.</h4>
                        </div>
                        <div class="col-sm-6 col-xs-12 col-sm-pull-6"></div>
                    </div>
                    <div class="home__btn">
                        <a class="btn btn--border transition-all-500" href="#section-3">Przejdź dalej</a>
                    </div>
                </div>
            </div>
            <div class="home__section home__section--left transition-all-2000" id="section-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h1>Opakowanie</h1>
                            <h4>Opakowanie to nowoczesna metalowa puszka, która kryje w sobie elegancki produkt.</h4>
                        </div>
                        <div class="col-sm-6 col-xs-12"></div>
                    </div>
                    <div class="home__btn">
                        <a class="btn btn--border transition-all-500" href="#section-4">Przejdź dalej</a>
                    </div>
                </div>
            </div>

            <div class="home__section home__section--right home__section--poland" id="section-4">
                <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
                    <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-672" data-duration="5000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="./img/bg_1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-672-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off">
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Concept-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-672-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic; color:#000">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Concept-Title   tp-resizeme rs-parallaxlevel-2" id="slide-672-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;; color:#000">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-672-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1200;e:Power2.easeIn;s:1200;e:Power2.easeIn;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 11;background-color:rgba(0, 0, 0, 0.85);border-color:rgba(0, 0, 0, 0);">
                                </div>

                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption   tp-resizeme tp-videolayer" id="slide-672-layer-10" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['231','150','200','150']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;e:Power3.easeInOut;" data-start="bytrigger" data-responsive_offset="on" data-vimeoid="139601645" data-videoattributes="title=0&byline=0&portrait=0&api=1" data-videowidth="['640px','640px','480px','360px']" data-videoheight="['360px','360px','270px','203px']" data-videoloop="none" data-end="bytrigger" data-lasttriggerstate="reset" data-autoplay="off" data-volume="100" style="z-index: 13;">
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-673" data-duration="5000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Elegant Video" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="./img/bg_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- BACKGROUND VIDEO LAYER -->
                                <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="../../assets/videos/Broadway.mp4" data-videopreload="preload" data-videoloop="loop" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-673-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Concept-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-673-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic; color:#000">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Concept-Title   tp-resizeme rs-parallaxlevel-2" id="slide-673-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center; color:#000000">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-673-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1200;e:Power2.easeIn;s:1200;e:Power2.easeIn;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 10;background-color:rgba(0, 0, 0, 0.85);border-color:rgba(0, 0, 0, 0);">
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-674" data-duration="5000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Unlock Power" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="./img/bg_3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
                                </div>


                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Concept-Title-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">Lorem ipsum dolor
                                </div>


                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption Concept-MoreBtn-Dark rev-btn  rs-parallaxlevel-2" id="slide-674-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['502','452','541','437']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-674-layer-6","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-8","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-7","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-9","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-1","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-11","delay":""}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-plus"></i>
                                </div>

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1200;e:Power2.easeIn;s:1200;e:Power2.easeIn;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 10;background-color:rgba(221, 221, 221, 0.95);border-color:rgba(0, 0, 0, 0);">
                                </div>

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption Concept-Content-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['60','60','70','70']" data-width="['1000','800','480','400']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;e:Power3.easeInOut;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 11; min-width: 1000px; max-width: 1000px; white-space: normal;text-align:center;">There are several good reasons why you should purchase a license from us to unlock the full power of Slider Revolution on your website.
                                    <br/>
                                    <br/><a href="http://revolution.themepunch.com/direct-customer-benefits/" target="_blank">SHOW ME THE BENEFITS</a>
                                </div>

                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption Concept-Title-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-70','-70']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 12; white-space: nowrap; font-size: 40px; line-height: 40px;text-align:center;">ACTIVATE YOUR
                                    <br/>PLUGIN
                                </div>

                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption Concept-LessBtn rev-btn " id="slide-674-layer-8" data-x="['right','right','right','right']" data-hoffset="['30','30','5','5']" data-y="['top','top','top','top']" data-voffset="['30','30','5','5']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"stoplayer","layer":"slide-674-layer-6","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-7","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-8","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-9","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-1","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-11","delay":""}]' data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 13; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-close-circle"></i>
                                </div>
                            </li>

                            <li data-index="rs-675" data-duration="5000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Unlock Power" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="./img/bg_4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Concept-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-57','-54']" data-fontsize="['25','25','20','20']" data-lineheight="['25','25','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic; color:#000">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Concept-Title-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">Lorem ipsum dolor
                                </div>

                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption Concept-MoreBtn-Dark rev-btn  rs-parallaxlevel-2" id="slide-674-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['502','452','541','437']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-674-layer-6","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-8","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-7","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-9","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-1","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-11","delay":""}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-plus"></i>
                                </div>

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-9" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:800;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1200;e:Power2.easeIn;s:1200;e:Power2.easeIn;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 10;background-color:rgba(221, 221, 221, 0.95);border-color:rgba(0, 0, 0, 0);">
                                </div>

                                <!-- LAYER NR. 7 -->
                                <div class="tp-caption Concept-Content-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['60','60','70','70']" data-width="['1000','800','480','400']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;e:Power3.easeInOut;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 11; min-width: 1000px; max-width: 1000px; white-space: normal;text-align:center;">There are several good reasons why you should purchase a license from us to unlock the full power of Slider Revolution on your website.
                                    <br/>
                                    <br/><a href="http://revolution.themepunch.com/direct-customer-benefits/" target="_blank">SHOW ME THE BENEFITS</a>
                                </div>

                                <!-- LAYER NR. 8 -->
                                <div class="tp-caption Concept-Title-Dark   tp-resizeme rs-parallaxlevel-2" id="slide-674-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-70','-70']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:700;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 12; white-space: nowrap; font-size: 40px; line-height: 40px;text-align:center;">ACTIVATE YOUR
                                    <br/>PLUGIN
                                </div>

                                <!-- LAYER NR. 9 -->
                                <div class="tp-caption Concept-LessBtn rev-btn " id="slide-674-layer-8" data-x="['right','right','right','right']" data-hoffset="['30','30','5','5']" data-y="['top','top','top','top']" data-voffset="['30','30','5','5']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="bytrigger" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"stoplayer","layer":"slide-674-layer-6","delay":""},{"event":"click","action":"startlayer","layer":"slide-674-layer-7","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-8","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-9","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-1","delay":""},{"event":"click","action":"stoplayer","layer":"slide-674-layer-11","delay":""}]' data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 13; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"><i class="pe-7s-close-circle"></i>
                                </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}