// Spinner
$spinner-color:#666;
$spinner-size:20px;

// Navbar
$navbar-color:#fff;
$navbar-icon-size: 20px;
$navbar-font-size: 17px;
$navbar-texttransform: uppercase;
$navbar-logo-size: 30px;
$navbar-heignt:64px;


//Home
$home-section-padding: 100px;


//Store
$store-section-padding:70px;
$store-title-size:250px;
$store-title-color:#f3f3f3;

$store-subtitle-size: 36px;
$store-subtitle-color: #999;


//Footer
$footer-backgroung: #333;

$footer-header-color: #fff;
$footer-header-font-size: 16px;

$footer-color: #ddd;
$footer-color-hover: lighten($footer-color, 10);
$footer-font-size: 15px;

$footer-logo-size:40px;

$footer-downline-background:lighten($footer-backgroung,5);
$footer-downline-fontsize:12px;
$footer-downline-color:#bbb;
$footer-downline-hover-color: lighten($footer-downline-color, 10);

//Overlay
$overlay-bg: rgba(#fff, .8);
$overlay-inner-bg: #fff;
$overlay-font-size: 16px;
$overlay-font-color: #333;


//Colors
$accent:#418edd;